	
html, body {
    margin:0;
    padding:0;
    height: 100%;
}

body {
background: url('../img/reddcoin.png') no-repeat center center fixed; 
   -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
background-color: #333;
}

#container {
position: absolute;
top: 50%;
margin-top: -228px; /* half of #value height*/
left: 0;
width: 100%;
}

#value {
width: 100%;
color: white;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
margin-left: auto;
margin-right: auto;
height: 456px;
}

#bhd {
color:white;
border: 0px;
margin-top: 15px;
margin-left: auto;
margin-right: auto;
}

#coincap {
color:white;
border: 0px;
margin-top: -30px;
margin-left: auto;
margin-right: auto;
}

.coincaptd {
width: 229px;
text-align: center; 
}

.bhdtd {
width: 229px;
text-align: center;
}

.whiteborder {
border-right: 1px solid rgba(255, 255, 255, 0.19);
}

.dollar-price {
font-size: 130px;
margin:0;
}

.bitcoin-price {
font-size: 50px;
margin-top: -2px;
opacity: 0.8;
}

.blocks {
font-size: 17px;
opacity: 0.8;
}

.difdata {
font-size: 17px;
opacity: 0.8;
margin: 0;
}


.current-time{
font-size: 12px;
opacity: 0.4;
margin-top: 45px;
margin-bottom: 4px;
}

.price-loading{
font-size: 3.625em;
margin:0;
}

#donation{
font-size: 12px;
opacity: 0.3;
cursor:pointer;
}

.donationaddress{
font-size: 15px;
opacity: 0.6;
}

.cap-title {
font-size: 15px;
opacity: 0.8;
margin-bottom: 0px;
}

h1 {
margin: 0;
}


